In [11]:
import pandas as pd

df = pd.read_csv(
    "C:\\Users\\user\\Desktop\\Short-Term Load Forecasting\\energy_modules\\n.csv"
)

df

                Unnamed: 0       value  Avg Temp  Min Temp  Max Temp
0      2018-07-01 00:00:00  176.261667     29.50     25.00     34.50
1      2018-07-01 01:00:00  177.300000     29.50     25.00     34.50
2      2018-07-01 02:00:00  177.048833     29.50     25.00     34.50
3      2018-07-01 03:00:00  175.129167     29.50     25.00     34.50
4      2018-07-01 04:00:00  183.175000     29.50     25.00     34.50
...                    ...         ...       ...       ...       ...
13171  2019-12-31 19:00:00  120.144500     28.22     23.22     34.78
13172  2019-12-31 20:00:00  124.547667     28.22     23.22     34.78
13173  2019-12-31 21:00:00  104.895333     28.22     23.22     34.78
13174  2019-12-31 22:00:00   95.204167     28.22     23.22     34.78
13175  2019-12-31 23:00:00   91.057667     28.22     23.22     34.78

[13176 rows x 5 columns]

In [12]:
df["DateTime"] = df["Unnamed: 0"]
df = df.drop(["Unnamed: 0", "Avg Temp", "Min Temp", "Max Temp"], axis=1)
df = df.set_index("DateTime")

In [17]:
df

                          value
DateTime
2018-07-01 00:00:00  176.261667
2018-07-01 01:00:00  177.300000
2018-07-01 02:00:00  177.048833
2018-07-01 03:00:00  175.129167
2018-07-01 04:00:00  183.175000
...                         ...
2019-12-31 19:00:00  120.144500
2019-12-31 20:00:00  124.547667
2019-12-31 21:00:00  104.895333
2019-12-31 22:00:00   95.204167
2019-12-31 23:00:00   91.057667

[13176 rows x 1 columns]

In [20]:
from PyEMD import EMD

ModuleNotFoundError: No module named 'PyEMD'